.App {

    padding: 15px;

    .wrapper {
        width: fit-content;
        height: 100%;
        padding: 15px;
        margin: 0 auto;
        border: solid 1px black;

        .drag_low {
            font-weight: bold;
            color: red;
            font-size: 2em;
        }

        .drag_high {
            font-weight: bold;
            color: blue;
            font-size: 2em;
        }

        .drag_hurricane {
            height: 45px;
            width: 45px;
            animation: rotation 5s infinite linear;
        }

        .image_wrapper {
            position: relative;

            .target {
                height: 50px;
                width: 50px;
                border: 2px solid black;
                position: absolute;
                text-align: center;
                

                &-high_1 {
                    right: 225px;
                    top: 200px; 
                }

                &-low_1 {
                    left: 150px;
                    top: 250px; 
                }

                &-hurricane_1 {
                    right: 150px;
                    bottom: 300px; 
                }

                .drag_low {
                    font-weight: bold;
                    color: red;
                    font-size: 2em;
                }
        
                .drag_high {
                    font-weight: bold;
                    color: blue;
                    font-size: 2em;
                }
        
                .drag_hurricane {
                    height: 45px;
                    width: 45px;
                    animation: rotation 5s infinite linear;
                }
            }  
        }
        
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

}